@import "~antd/dist/antd.css";

#root {
  height: 100%;
}
.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #cbd1d6;
}
.trigger {
  position: absolute;
  bottom: 12px;
  left: 7px;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgb(255, 255, 255);
}
.js-logo svg {
  height: 36px;
  width: 28px;
}

.site-layout-background {
  background: #fff;
}
